In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
import re

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 18 days

In [2]:
df = pd.read_csv("../data/traffic_counts_aggregated.csv")
df.head()

  street_name  total_counts  uniq.dates
0       01 AV        734810          58
1       02 AV         55903          14
2       03 AV         95901          18
3       04 AV        753240          47
4       05 AV        921951          57

In [3]:
street_names = [street_name.lower() + " San Diego, CA" for street_name in list(df["street_name"])]
street_names[:4]

['01 av San Diego, CA',
 '02 av San Diego, CA',
 '03 av San Diego, CA',
 '04 av San Diego, CA']

In [46]:
s = '01 av San Diego, CA'

In [47]:
s.replace(" av ", " avenue ")

'01 avenue San Diego, CA'

In [32]:
def complete_string_names(street_address):
    if " st " in street_address:
        street_address = street_address.replace(" st ", " street ")
    if " av " in street_address:
        street_address = street_address.replace(" av ", " avenue ")
    if " pl " in street_address:
        street_address = street_address.replace(" pl ", " place ")
    if " dr " in street_address:
        street_address = street_address.replace(" dr ", " drive ")
    if " rd " in street_address:
        street_address = street_address.replace(" rd ", " road ")
    if " bl " in street_address:
        street_address = street_address.replace(" bl ", " boulevard ")
    if " ex " in street_address:
        street_address = street_address.replace(" ex ", " avenue ")
    return street_address.lstrip("0")

In [33]:
clean_street_names = [complete_string_names(street_name) for street_name in street_names]

In [34]:
clean_street_names[:4]

['1 avenue San Diego, CA',
 '2 avenue San Diego, CA',
 '3 avenue San Diego, CA',
 '4 avenue San Diego, CA']

In [17]:
geolocator = Nominatim()

In [35]:
location = geolocator.geocode(clean_street_names[0])

In [36]:
print((location.latitude, location.longitude))

(32.663807, -117.0919879)

In [ ]:
lons = []
lats = []
for clean_street_name in clean_street_names:
    try:
        location = geolocator.geocode(clean_street_name) 
        lons.append(location.longitude)
        lats.append(location.latitude)
    except:
        lons.append("NA")
        lats.append("NA")

In [31]:
df['lat'] = lats
df['lon'] = lons

'101 avenue San Diego, CA'

In [38]:
len(lats)

12