In [26]:
import pandas as pd
from geopy.geocoders import Nominatim
import re

In [2]:
df = pd.read_csv("../data/traffic_counts_aggregated.csv")
df.head()

  street_name  total_counts  uniq.dates
0       01 AV        734810          58
1       02 AV         55903          14
2       03 AV         95901          18
3       04 AV        753240          47
4       05 AV        921951          57

In [10]:
street_names = [street_name.lower() + " San Diego, CA" for street_name in list(df["street_name"])]
street_names[:4]

['01 av San Diego, CA',
 '02 av San Diego, CA',
 '03 av San Diego, CA',
 '04 av San Diego, CA']

In [46]:
s = '01 av San Diego, CA'

In [47]:
s.replace(" av ", " avenue ")

'01 avenue San Diego, CA'

In [58]:
def complete_string_names(street_address):
    #r = street_address.replace(" st ", " street ")
    r = street_address.replace(" av ", " avenue ")
    r = street_address.replace(" pl ", " place ")
    #r = street_address.replace(" dr ", " drive ")
    #r = street_address.replace(" rd ", " road ")
    #r = street_address.replace(" bl ", " boulevard ")
    #r = street_address.replace(" ex ", " avenue ")
    return r

In [59]:
s
street_address = s
r = street_address.replace(" av ", " avenue ")
print r

01 avenue San Diego, CA

In [60]:
complete_string_names(s)

'01 av San Diego, CA'

In [49]:
clean_street_names = [complete_string_names(street_name) for street_name in street_names]

In [50]:
clean_street_names[:4]

['01 av San Diego, CA',
 '02 av San Diego, CA',
 '03 av San Diego, CA',
 '04 av San Diego, CA']

In [4]:
geolocator = Nominatim()

In [31]:
location = geolocator.geocode("06 ex san diego")

In [32]:
print((location.latitude, location.longitude))

(25.7620161, -100.2144459)